{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
  },
  "rules": {
    "quotes": [2, "single"]
  }
}
